@tailwind base;
@tailwind components;
@import './components.css';
@tailwind utilities;

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    @apply text-gray-900;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
        background: black;
    }
}

@layer utilities {
    .clip-path-nav {
        clip-path: polygon(0% 0%, 100% 0, 100% 100%, 30% 100%);
    }
}
